<% title "Import environments" %>

<h2>Accept these environment changes found in puppet?</h2>
<%= form_tag create_multiple_environments_path do -%>
  <% @importer.actual_environments.each do |environment| -%>
    <table>
      <caption><%= environment.capitalize %></caption>
      <thead>
      <th>Operation</th>
      <th>Classes</th>
      </thead>
      <tbody>
      <% new = @importer.new_classes_for(environment) -%>
      <tr class="<%= cycle("even", "odd") -%>">
        <td> <%= check_box_tag :name, new.to_json, !new.empty?, :disabled => new.empty? %> Add</td>
        <td> <%= new.empty? ? "No changes found" : new.to_sentence %>  </td>
      </tr>
      <% removed = @importer.removed_classes_for(environment) -%>
      <tr class="<%= cycle("even", "odd") -%>">
        <td> <%= check_box_tag :name, removed.to_json, !removed.empty?, :disabled => removed.empty? %> Remove</td>
        <td> <%= removed.empty? ? "No changes found" : removed.to_sentence %>  </td>
      </tr>
      </tbody>
    </table>
  <% end -%>
  <%= link_to "Cancel", :back, :class => "btn" %>
  <%= submit_tag "Update", :class => "btn primary" %>
<% end -%>
